<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-57</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-52</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-72</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-13</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-13</integer>
		<key>quotedblright</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-41</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-48</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-53</integer>
		<key>X</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-77</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-20</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-200</integer>
		<key>g</key>
		<integer>-14</integer>
		<key>period</key>
		<integer>-180</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_Y_Right</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-74</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-102</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-38</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-56</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-84</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-26</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-34</integer>
		<key>g</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-74</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-117</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-28</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>s</key>
		<integer>-57</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-27</integer>
		<key>b</key>
		<integer>0</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-7</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-6</integer>
		<key>g</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-6</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-43</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-58</integer>
		<key>period</key>
		<integer>-90</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-64</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-180</integer>
		<key>g</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-140</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-42</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-18</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-127</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-65</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-80</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-132</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-36</integer>
		<key>quotedblright</key>
		<integer>-170</integer>
		<key>quoteright</key>
		<integer>-120</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-11</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-19</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-20</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-23</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>0</integer>
		<key>d</key>
		<integer>-25</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-21</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-20</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-17</integer>
		<key>f</key>
		<integer>-110</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-25</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-90</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
